################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/contrib/cugar/vs/cugar/x64/Debug
/vs/fermat/.vs/fermat/v15
/vs/fermat/x64/Debug
/vs/fermatdll/x64/Debug
